p{
  margin:0px;
  padding:0px;
}
main{
  display:flex;
  justify-content:center;
  text-align:center; 
}
body{
  justify-content:center;
  text-align:center; 
}
button{
  font-size:1.2rem;
  color:white;
  margin-top:10px;
  background-color:rgb(58, 49, 85);
  height:50px;
  width:250px;
  border:none;
  border-radius:50px;
}
button:hover{
  font-size:1.2rem;
  color:white;
  margin-top:10px;
  transition: 1.5s ease-in-out;
  background:linear-gradient(rgb(76, 28, 252),rgb(79, 21, 203));
  height:50px;
  width:250px;
  border-radius:50px;
}
.container{
  display:flex;
  flex-wrap:wrap;
  margin:250px 100px;
  border-radius:10%;
}
.card{
  padding:20px;
  justify-content:center;
  text-align:center;
  height:400px;
  width:300px;
  background:linear-gradient(rgb(124, 48, 255),rgba(24, 20, 255, 0.9));
  border-radius:10%;
}
.second-half{
  justify-content:center;
  text-align:center;
  padding:20px;
  height:400px;
  width:300px;
  background:white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius:10%;
}
.result{
  font-size:1.3rem;
  color:rgba(255, 255, 255, 0.667);
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bubble{
  margin-top:30px;
  margin-left:70px;
  padding:5px;
  height:150px;
  width:150px;
  font-size:1.3rem;
  border-radius:100px;
  color:rgba(255, 255, 255, 0.313);
  background:linear-gradient(rgba(77, 22, 172, 0.9),rgb(96, 10, 244, 10%))
}
.main-text{
  display:flex;
  justify-content:center;
  text-align:center;
  margin-top:25px;
  font-size:4rem;
  font-weight:bold;
  color:white;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.card-mid{
  margin-top:20px;
  font-size:1.6rem;
  color:white;
}
.bottom-text{
  color:rgba(255, 255, 255, 0.697);
  padding:26px;
  font-size:1.2rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.card-two{
  text-align:left;
  font-size:0.7rem;
}
.text{
  color:black;
  margin-left:80px;
}
.percent{
  color:black;
  margin-left:60px
}
.divider{
  margin: 0px 5px;
}
.bar-one{
  margin:20px;
  padding:10px;
  color:rgb(250, 119, 119);;
  background:rgb(255, 240, 240);
  border-radius:10px;
  font-size:1.2rem;
  font-weight:bold;
  text-align:left;
}
.bar-two{
  margin:20px;
  padding:10px;
  color:rgb(255, 191, 87);;
  background:rgb(255, 252, 236);
  border-radius:10px;
  font-size:1.2rem;
  font-weight:bold;
  text-align:left;
}
.bar-three{
  margin:20px;
  padding:10px;
  color: rgb(75, 193, 81);;
  background:rgb(237, 253, 237);
  border-radius:10px;
  font-size:1.2rem;
  font-weight:bold;
  justify-content:center;
  text-align:left;
}
.bar-four{
  margin:20px;
  padding:10px;
  color:rgb(72, 57, 202);;
  background:rgb(237, 235, 255);
  border-radius:10px;
  font-size:1.2rem;
  font-weight:bold;
  text-align:left;
}
.bar{
  color:black;  
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }
.icon{
  justify-content:center;
  text-align:center;
  margin-bottom:-3px;
  padding-right:10px;
}